<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="weatherInfo" type="training.metofficeweather.web.WeatherInfo"-->

    <head>
        <title>Weather Information</title>
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
          margin-left:auto;
          margin-right:auto;
          text-align:center;
          font-size:12px;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
          width:100px;
          white-space:nowrap;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }

        </style>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Weather Information</h2>
            <div>
                <p>You entered location name <span th:text="${weatherInfo.locName}"></span></p>
                <img style="max-width:650px;" src="http://datapoint.metoffice.gov.uk/public/data/image/wxfcs/surfacepressure/gif?timestep=0&key=d9db0ba4-7eac-46da-a83c-fb074bb8015d" align="middle">
                <p>Percentage change of umbrella usage <span th:text="${weatherInfo.umbrellaChanceChange}"></span></p>
            </div>
            <div>
                <table>
                    <tr>
                        <th>DATE </th>
                        <th>TIME </th>
                        <th>TEMP (C) </th>
                        <th>FEELS LIKE (C)</th>
                        <th>WEATHER </th>
                        <th>WIND SPEED (MPH)</th>
                        <th>WIND GUST (MPH)</th>
                        <th>WIND DIRECTION </th>
                        <th>VISIBILITY </th>
                        <th>UV INDEX </th>
                        <th>HUMIDITY (%)</th>
                        <th>PRECIPITATION (%)</th>
                    </tr>
                    <tr th:each="event : ${weatherInfo.data}">
                        <td th:object="${event}">
                            <span th:text="*{date}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{time}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{temp}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{tempFeels}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{weatherType}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{windSpeed}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{windGust}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{windDir}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{visibility}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{uvIndex}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{humidity}">...</span>
                        </td>
                        <td th:object="${event}">
                            <span th:text="*{precipitation}">...</span>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </body>
</html>